openapi: 3.0.3
info:
  title: Middleware
  description: Knowledge Graph data management.
  termsOfService: 'https://wordlift.io/terms-of-service/'
  contact:
    name: WordLift
    url: 'https://wordlift.io'
    email: hello@wordlift.io
  license:
    name: (c) copyright 2022-present WordLift
    url: 'https://wordlift.io'
  version: '1.0'
servers:
  - url: 'https://api.wordlift.io'
security:
  - ApiKeyAuth: []
tags:
  - name: Autocomplete
    description: Find entities in Linked Data or Knowledge Graph by partial match.
  - name: Entities
    description: Manage entities in Knowledge Graphs
  - name: Dataset
    description: Manage Entities (legacy)
  - name: GraphQL
    description: Query Knowledge Graphs using GraphQL
  - description: Get Account Information
    name: Account
  - description: Manage Custom Domains
    name: Custom Domains
  - description: Import Botify Crawl data to KG
    name: Botify Crawl Imports
  - description: Retrieve Add-ons data
    name: AddOns
  - description: Data URI for a Web page URL.
    name: Data URI
  - description: Add embeddings to a Knowledge Graphs.
    name: Embedding
  - description: Import sitemaps to the KG
    name: Sitemap Imports
  - description: Retrieve analytics data from Google Search Console
    name: Google Search Console Searches
  - description: Access Google Search Console data
    name: Google Search Console
  - description: Manage Google Merchants
    name: Google Merchants
  - description: Manage Platform Consumptions
    name: Platform Consumptions
  - description: Get answers to questions.
    name: Vector Search Questions
  - description: Manage OAuth2 Authorized Clients
    name: OAuth2 Authorized Clients
  - description: >-
      Import Analytics data to the KG using different sources, e.g. Google
      Search Console.
    name: Analytics Imports
  - description: Manage vector search nodes embeddings.
    name: Vector Search Nodes
  - description: Manage redeem codes.
    name: Redeem Codes
  - description: Create vector search queries.
    name: Vector Search Queries
  - description: The list of included or excluded URLs from the WordPress configuration
    name: Include Excludes (WordPress plugin)
  - description: Manage Platform Limits
    name: Platform Limits
  - description: Manage Accounts
    name: Accounts
  - description: Manage Merchants
    name: Merchants
  - description: Configure Google Search Console OAuth2 authorized access codes.
    name: Google Search Console OAuth2
  - description: Synchronize Products from the Merchant Feed
    name: Merchant Syncs
  - description: Update Plugin Diagnostics data for WordPress clients.
    name: Plugin Diagnostics
  - name: Plugin Events
    description: >-
      Record and query for events raised by the WordLift Plugin in order to
      analyze KPI data.
  - name: Summarizations
    description: Create a generic text summarization
  - name: Classifications
    description: Unsupervised text classification.
  - name: Web Asyncs responses
    description: Retrieve Web Async data.
  - name: Long Tails
    description: Research long tail opportunities.
  - name: Web Asyncs metadata
    description: Operation on asynchronous calls.
  - name: Embeddings
  - description: List fields from graphql query.
    name: Content Generation Fields
  - description: Render the given prompt template.
    name: Content Generation Renders
  - description: Manage content generation syncs.
    name: Content Generation Syncs
  - description: Operations on Q&A smart content projects.
    name: QuestionsAndAnswers
  - description: Manage content generation records.
    name: Content Generation Records
  - description: Operations on Word biases connected to prompts.
    name: Content Generation Word biases
  - description: Operations on Content Generation projects.
    name: Content Generations
  - description: Manage validation rules for Generative AI projects.
    name: Rules
  - description: Generation completions.
    name: Content Generation Completion
  - description: List the available linguistic models.
    name: Content Generation Models
  - description: Export Content Generation Records in text/csv format.
    name: Content Generation Records Export
  - description: Manage Presets
    name: Content Generation Presets
  - description: Manage content generation stats.
    name: Content Generation Stats
  - name: SEO Scores
    description: Create a SEO Score
  - name: Sitemap Generator
    description: Generate sitemaps using GraphQL queries to WordLift KG.
  - name: Microdata
    description: Converts any microdata found on a web page to JSON-LD.
  - name: Inspector
    description: Inspect a web page URL
  - name: Analysis
    description: >-
      Analyse content and extract entities from Linked Data and Knowledge
      Graphs.
  - name: Entity Gaps
    description: Analyze entity gaps.
  - name: Analyses
    description: Perform content analysis.
  - name: Content Expansions
    description: Expand Content.
paths:
  /entities:
    get:
      tags:
        - Entities
      summary: Get
      description: Get entities with the provided ids.
      operationId: getEntities
      parameters:
        - name: id
          in: query
          description: 'One or more ids, in the form of URLs.'
          required: true
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uri
        - name: include_children
          in: query
          description: >-
            Whether to return all the entities whose ids start with the provided
            ids, by default false.
          required: false
          schema:
            type: string
            default: 'false'
        - name: include_referenced
          in: query
          description: >-
            Whether to return all the referenced entities (e.g. in
            `schema:mentions`), by default false.
          required: false
          schema:
            type: string
            default: 'false'
        - name: include_private
          in: query
          description: >-
            Whether to return private properties, requires an authenticated
            request, by default false.
          required: false
          schema:
            type: string
            default: 'false'
      responses:
        '200':
          description: Success
          content:
            application/ld+json:
              schema:
                type: array
                description: A model containing the Structured Data.
                items:
                  type: object
            application/rdf+xml:
              schema:
                type: array
                description: A model containing the Structured Data.
                items:
                  type: object
            text/turtle:
              schema:
                type: array
                description: A model containing the Structured Data.
                items:
                  type: object
        '412':
          description: Invalid request parameters
      security:
        - ApiKey: []
    put:
      tags:
        - Entities
      summary: Update (or create)
      description: Create or update entities by using the provided ids.
      operationId: createOrUpdateEntities
      requestBody:
        content:
          application/ld+json:
            schema:
              type: array
              description: A model containing the Structured Data.
              items:
                type: object
          application/rdf+xml:
            schema:
              type: array
              description: A model containing the Structured Data.
              items:
                type: object
          text/turtle:
            schema:
              type: array
              description: A model containing the Structured Data.
              items:
                type: object
        required: true
      responses:
        '200':
          description: Success
        '412':
          description: Invalid request parameters
      security:
        - ApiKey: []
    post:
      tags:
        - Entities
      summary: Create
      description: Create new entities by automatically generating their id.
      operationId: createEntities
      requestBody:
        content:
          application/ld+json:
            schema:
              type: string
              description: 'The entity request, containing the actual semantic data.'
          application/rdf+xml:
            schema:
              type: string
              description: 'The entity request, containing the actual semantic data.'
          text/turtle:
            schema:
              type: string
              description: 'The entity request, containing the actual semantic data.'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/ld+json:
              schema:
                type: array
                description: A model containing the Structured Data.
                items:
                  type: object
            application/rdf+xml:
              schema:
                type: array
                description: A model containing the Structured Data.
                items:
                  type: object
            text/turtle:
              schema:
                type: array
                description: A model containing the Structured Data.
                items:
                  type: object
        '412':
          description: Invalid request parameters
      security:
        - ApiKey: []
    delete:
      tags:
        - Entities
      summary: Delete
      description: Delete entities with the provided ids.
      operationId: deleteEntities
      parameters:
        - name: id
          in: query
          description: 'One or more ids, in the form of URLs.'
          required: true
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
              format: uri
        - name: include_children
          in: query
          description: >-
            Whether to delete all the entities whose ids start with the provided
            ids, by default false.
          required: false
          schema:
            type: string
            default: 'false'
        - name: include_referenced
          in: query
          description: >-
            Whether to delete all the referenced entities (e.g. in
            `schema:mentions`), by default false.
          required: false
          schema:
            type: string
            default: 'false'
      responses:
        '200':
          description: Success
        '412':
          description: Invalid request parameters
      security:
        - ApiKey: []
    patch:
      tags:
        - Entities
      summary: Patch Entity
      description: Patch entity
      operationId: patchEntities
      parameters:
        - name: id
          in: query
          description: Entity id.
          required: true
          schema:
            type: string
            format: uri
      requestBody:
        content:
          application/json-patch+json:
            schema:
              type: array
              description: 'The entity request, containing the actual semantic data.'
              items:
                $ref: '#/components/schemas/EntityPatchRequest'
        required: true
      responses:
        '200':
          description: Success
        '412':
          description: Invalid request parameters
      security:
        - ApiKey: []
  /dataset/batch:
    post:
      tags:
        - Dataset
      summary: Create or update many
      description: Create or update many entities in the Knowledge Graph.
      operationId: createOrUpdateEntities_1
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: A list of requests
              items:
                $ref: '#/components/schemas/BatchRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - ApiKey: []
  /dataset:
    post:
      tags:
        - Dataset
      summary: Create or update one
      description: Create or update an entity in the Knowledge Graph.
      operationId: createOrUpdateEntity
      parameters:
        - name: uri
          in: query
          description: The entity's URI
          required: true
          schema:
            type: string
        - name: private
          in: query
          description: Whether the entity should be hidden from Linked Data and GraphQL
          required: false
          schema:
            type: boolean
            default: true
          example: true
      requestBody:
        content:
          application/ld+json:
            schema:
              type: array
              description: A model containing the Structured Data.
              items:
                type: object
        required: true
      responses:
        '200':
          description: Success
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - ApiKey: []
    delete:
      tags:
        - Dataset
      summary: Delete one
      description: Delete an entity from the Knowledge Graph.
      operationId: deleteEntity
      parameters:
        - name: uri
          in: query
          description: The URI of the entity to delete.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - ApiKey: []
  /autocomplete:
    get:
      tags:
        - Autocomplete
      summary: Get
      description: >-
        The autocomplete endpoint suggests entities from Linked Data that match
        the provided query.
      operationId: get
      parameters:
        - name: query
          in: query
          description: Autocomplete query
          required: true
          schema:
            type: string
        - name: language
          in: query
          description: '2-letter language code, e.g. ''en''.'
          required: true
          schema:
            type: string
        - name: scope
          in: query
          description: Scope
          required: false
          schema:
            type: string
            default: cloud
            enum:
              - cloud
        - name: limit
          in: query
          description: Maximum number of results. By default 10.
          required: false
          schema:
            type: string
            default: '10'
        - name: exclude
          in: query
          description: List of entity URIs to exclude.
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AutocompleteResult'
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - ApiKey: []
  /dataset/all:
    delete:
      tags:
        - Dataset
      summary: Delete all
      description: Delete all the entities in the Knowledge Graph.
      operationId: deleteAllEntities
      responses:
        '200':
          description: Success
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - ApiKey: []
  /fact-check/score:
    post:
      summary: Submit a fact-checking request
      operationId: submitFactCheck
      tags:
        - Fact Check
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                query:
                  type: string
                  example: >-
                    Aristotele said 'It is the mark of an educated mind to be
                    able to entertain a thought without accepting it.'
      responses:
        '200':
          description: Fact-checking result
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string
                    example: |-
                      {
                        "@context": "http://schema.org",
                        "@type": "ClaimReview",
                        "claimReviewed": "Aristotle quote 'It is the mark of an educated mind to be able to entertain a thought without accepting it.'",
                        "author": { "@type": "Organization", "name": "WordLift" },
                        "datePublished": "2024-01-17",
                        "reviewRating": {
                          "@type": "Rating",
                          "ratingValue": "5",
                          "alternateName": "True",
                          "bestRating": "5",
                          "worstRating": "1"
                        },
                        "url": "https://fact-check.wordlift.io/review/aristotle-quote",
                        "reviewBody": "The quote 'It is the mark of an educated mind to be able to entertain a thought without accepting it.' is correctly attributable to Aristotle. It has been found in multiple credible sources, including publications of academic texts, reputable quote repositories, and philosophical discussions.",
                        "itemReviewed": {
                          "@type": "CreativeWork",
                          "url": ["https://www.azquotes.com/quote/10261", "https://philosiblog.com/2012/03/07/it-is-the-mark-of-an-educated-mind-to-be-able-to-entertain-a-thought-without-accepting-it/", "https://www.brainyquote.com/quotes/aristotle_100584", "https://www.goodreads.com/quotes/1629-it-is-the-mark-of-an-educated-mind-to-be", "https://www.socratic-method.com/philosophy-quote-meanings/aristotle-it-is-the-mark-of-an-educated-mind-to-be-able-to-entertain-a-thought-without-accepting-it"]
                        }
                      }
  /graphql:
    post:
      tags:
        - GraphQL
      summary: Query
      operationId: graphqlUsingPost
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphqlRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties: {}
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: body
      security:
        - ApiKey: []
  /accounts:
    get:
      description: List the accounts
      operationId: listAccounts
      parameters:
        - description: The cursor
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - in: query
          name: limit
          required: false
          schema:
            type: integer
            format: int32
            default: 10
        - description: Filter accounts that can or cannot do Content Generation
          in: query
          name: can_content_generation
          required: false
          schema:
            type: boolean
        - description: Add entity count data
          in: query
          name: include_entity_count
          required: false
          schema:
            type: boolean
            default: false
        - description: Include all the accounts the user has access to
          in: query
          name: include_all_accounts
          required: false
          schema:
            type: boolean
            default: false
        - description: Include the subscription data
          in: query
          name: include_subscription
          required: false
          schema:
            type: boolean
            default: false
        - description: The URL
          in: query
          name: url
          required: false
          schema:
            type: string
        - description: The dataset id
          in: query
          name: ng_dataset_id
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/vnd.wordlift.accounts+json;version=1:
              schema:
                $ref: '#/components/schemas/PageActiveAccount'
          description: Found
        '401':
          description: Authentication Failure
      security:
        - BasicAuth: []
        - OAuth2: []
      summary: List
      tags:
        - Accounts
  /accounts/me:
    get:
      description: Get the account data for the current account identified by its key.
      operationId: getMe
      responses:
        '200':
          content:
            application/vnd.wordlift.account-info.v2+json:
              schema:
                $ref: '#/components/schemas/AccountInfo'
          description: Found
        '401':
          description: Authentication Failure
      security:
        - ApiKey: []
      summary: Get
      tags:
        - Account
  /accounts/me/google/searches:
    get:
      description: List the Website Search performance data
      operationId: listWebsiteSearch_1
      parameters:
        - description: The cursor
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: 'The start date, inclusive, in yyyy-MM-dd format.'
          in: query
          name: since
          required: true
          schema:
            type: string
        - description: 'The end date, inclusive, in yyyy-MM-dd format.'
          in: query
          name: until
          required: true
          schema:
            type: string
        - description: >-
            The dimensions, e.g. `query`, `page`. Must repeat for each
            dimension.
          in: query
          name: dimensions
          required: true
          schema:
            type: array
            items:
              type: string
          style: form
        - description: >-
            If "all" (case-insensitive), data will include fresh data. If
            "final" (case-insensitive) or if this parameter is omitted, the
            returned data will include only finalized data.
          in: query
          name: data_state
          required: false
          schema:
            type: string
            enum:
              - all
              - final
        - description: The maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 10
            maximum: 25000
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageWebsiteSearch'
          description: Found
        '401':
          description: Authentication Failure
      security:
        - ApiKey: []
      summary: List Website Search data
      tags:
        - Google Search Console Searches
  /accounts/me/include-excludes:
    get:
      description: List the include and exclude configurations.
      operationId: listIncludeExcludes
      parameters:
        - in: query
          name: account
          required: true
          schema:
            $ref: '#/components/schemas/Account'
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IncludeExclude'
          description: Success
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IncludeExclude'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IncludeExclude'
          description: Not Found
      summary: List
      tags:
        - Include Excludes (WordPress plugin)
    put:
      description: Update the include and exclude configurations.
      operationId: updateIncludeExcludes
      parameters:
        - in: query
          name: account
          required: true
          schema:
            $ref: '#/components/schemas/Account'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/IncludeExcludeRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IncludeExclude'
          description: Success
        '401':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IncludeExclude'
          description: Unauthorized
        '404':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IncludeExclude'
          description: Not Found
      summary: Update
      tags:
        - Include Excludes (WordPress plugin)
  /accounts/me/plugin/diagnostics/plugins-collection:
    put:
      description: >-
        Replace the list of the plugins for the current account with the one
        provided by the client
      operationId: updateDiagnosticPluginCollection
      parameters:
        - in: query
          name: account
          required: true
          schema:
            $ref: '#/components/schemas/Account'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/DiagnosticPluginRequest'
        required: true
      responses:
        '200':
          description: Found.
        '204':
          description: No Content
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - ApiKey: []
      summary: Update
      tags:
        - Plugin Diagnostics
  '/accounts/{id}':
    get:
      description: Get the account
      operationId: getAccount
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Found
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - BasicAuth: []
        - OAuth2: []
      summary: Get an account.
      tags:
        - Accounts
    put:
      description: Update the account
      operationId: updateAccount
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAccountRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
          description: Found
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - BasicAuth: []
        - OAuth2: []
      summary: Update an account.
      tags:
        - Accounts
  /addon/configurations:
    get:
      description: List the Add-ons configurations
      operationId: listConfigurations
      parameters:
        - description: The access token
          in: query
          name: token
          required: false
          schema:
            type: string
        - description: The key
          in: query
          name: key
          required: false
          schema:
            type: string
        - description: The maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageAddOnConfiguration'
          description: Found
        '401':
          description: Authentication Failure
      summary: List
      tags:
        - AddOns
  /analytics-imports:
    post:
      description: >-
        Create a Analytics Import using Google Search Console or Botify
        depending on the Account configuration.
      operationId: createAnalyticsImport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsImportRequest'
        required: true
      responses:
        '201':
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties:
                    type: string
          description: Success
        '401':
          description: Authentication Failure
      security:
        - ApiKey: []
      summary: Create
      tags:
        - Analytics Imports
  /botify-crawl-imports:
    post:
      description: Create a Botify Crawl Import
      operationId: createBotifyCrawlImport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BotifyCrawlImportRequest'
        required: true
      responses:
        '200':
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebPage'
          description: Success
        '401':
          description: Authentication Failure
      security:
        - ApiKey: []
      summary: Create
      tags:
        - Botify Crawl Imports
  /data-uri:
    get:
      description: >
        The service will return a Web Data URI only for existing datasets. The
        Web Data URI is not guaranteed to exist (i.e. it may return 404).
      operationId: get1
      parameters:
        - description: The Web Page URL.
          in: query
          name: u
          required: true
          schema:
            type: string
            format: url
      responses:
        '303':
          description: See Other
          headers:
            Location:
              description: '${api.data-uri-controller.get.headers.location.description}'
              schema: {}
              style: simple
      summary: Get the Web Data URI for a Web Page URL.
      tags:
        - Data URI
  /ext/google/searchconsole/searches:
    get:
      description: List the Website Search performance data
      operationId: listWebsiteSearch
      parameters:
        - description: The website URL
          in: query
          name: website
          required: true
          schema:
            type: string
        - description: The cursor
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: 'The start date, inclusive, in yyyy-MM-dd format.'
          in: query
          name: since
          required: true
          schema:
            type: string
        - description: 'The end date, inclusive, in yyyy-MM-dd format.'
          in: query
          name: until
          required: true
          schema:
            type: string
        - description: >-
            The dimensions, e.g. `query`, `page`. Must repeat for each
            dimension.
          in: query
          name: dimensions
          required: true
          schema:
            type: array
            items:
              type: string
          style: form
        - description: >-
            The Google access token, must have access to the Google Search
            Console scope
          in: query
          name: google_access_token
          required: true
          schema:
            type: string
        - description: The maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageWebsiteSearch'
          description: Found
        '401':
          description: Authentication Failure
      summary: List Website Search data
      tags:
        - Google Search Console
  /ext/google/searchconsole/websites:
    get:
      description: List the Websites
      operationId: listWebsites
      parameters:
        - description: >-
            The Google access token, must have access to the Google Search
            Console scope
          in: query
          name: google_access_token
          required: true
          schema:
            type: string
        - description: The maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageWebsite'
          description: Found
        '401':
          description: Authentication Failure
      summary: List
      tags:
        - Google Search Console
  /ext/google/shopping/merchants:
    get:
      description: List the Google Merchants
      operationId: listGoogleMerchants
      parameters:
        - in: query
          name: google_access_token
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageMerchantEntry'
          description: Found
        '401':
          description: Authentication Failure
      security:
        - OAuth2: []
      summary: List
      tags:
        - Google Merchants
  /google-search-console/oauth2/auth-code-exchanges:
    post:
      description: >-
        Call this API to have the Platform receive an Authentication Token to
        access the Analytics data via Google Search Console.
      operationId: createAuthCodeExchange
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeAuthCodeRequest'
        required: true
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ExchangeAuthCodeResponse'
          description: Found
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - ApiKey: []
      summary: Get an Access Code
      tags:
        - Google Search Console OAuth2
  /google-search-console/oauth2/authorize-uris:
    post:
      description: >-
        Call this API to get an authorization URI needed to interactively get an
        authorization token. Then call the `exchangeAuthCode` to exchange it
        with an authorization token.
      operationId: createAuthorizeUri
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BuildAuthorizeUriRequest'
        required: true
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BuildAuthorizeUriResponse'
          description: Found
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - ApiKey: []
      summary: Create an Authorization URI
      tags:
        - Google Search Console OAuth2
  /kg/embeddings:
    post:
      description: Create the embedding for the IRIs for the provided query.
      operationId: createEmbedding
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingRequest'
        required: true
      responses:
        '201':
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties:
                    type: string
          description: Success
        '401':
          description: Authentication Failure
      security:
        - ApiKey: []
      summary: Create
      tags:
        - Embedding
  /merchants:
    get:
      description: 'List the Merchants, optionally filtering by the `deleted` flag'
      operationId: listMerchants
      parameters:
        - description: The cursor
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: The maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 10
        - description: Filter by the `deleted` flag
          in: query
          name: deleted
          required: false
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageMerchantView'
          description: Found
        '401':
          description: Authentication Failure
      security:
        - OAuth2: []
      summary: List
      tags:
        - Merchants
    post:
      description: Create a Merchant
      operationId: createMerchant
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant'
          description: Success
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - OAuth2: []
      summary: Create
      tags:
        - Merchants
  '/merchants/{id}':
    delete:
      description: Delete a Merchant by its `id`.
      operationId: deleteMerchant
      parameters:
        - description: The Merchant id
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Deleted
        '401':
          description: Authentication Failure
      security:
        - OAuth2: []
      summary: Delete by id
      tags:
        - Merchants
    get:
      description: Get a Merchant by its `id`.
      operationId: getMerchant
      parameters:
        - description: The Merchant id
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant'
          description: Success
        '401':
          description: Authentication Failure
      security:
        - OAuth2: []
      summary: Get by id
      tags:
        - Merchants
    put:
      description: Update a Merchant
      operationId: updateMerchant
      parameters:
        - description: The Merchant id
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MerchantRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Merchant'
          description: Success
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - OAuth2: []
      summary: Update
      tags:
        - Merchants
  '/merchants/{merchantId}/syncs':
    get:
      description: List the Merchants Syncs
      operationId: listMerchantSyncs
      parameters:
        - description: The Merchant's `id`
          in: path
          name: merchantId
          required: true
          schema:
            type: integer
            format: int64
        - description: The cursor
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: The maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 10
        - description: 'The sorting, `+id` or `-id`'
          in: query
          name: sort
          required: false
          schema:
            type: string
            default: +id
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageMerchantSync'
          description: Found
        '401':
          description: Authentication Failure
      security:
        - OAuth2: []
      summary: List
      tags:
        - Merchant Syncs
    post:
      operationId: createSync
      parameters:
        - description: The Merchant's `id`
          in: path
          name: merchantId
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MerchantSync'
          description: Found.
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
          description: >-
            Another merchant sync is in already in progress. There can only be
            one sync running at a time.
        '401':
          description: Authentication Failure
        '403':
          description: Authorization Failure
      security:
        - OAuth2: []
      summary: Start
      tags:
        - Merchant Syncs
  '/merchants/{merchantId}/syncs/{id}':
    get:
      operationId: getMerchantSync
      parameters:
        - description: The Merchant's `id`
          in: path
          name: merchantId
          required: true
          schema:
            type: integer
            format: int64
        - description: The Merchant Sync `id`.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantSync'
          description: Found.
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - OAuth2: []
      summary: Get by id
      tags:
        - Merchant Syncs
  /oauth2/authorized-clients:
    get:
      description: List OAuth2 Authorized Clients
      operationId: listOAuth2AuthorizedClients
      parameters:
        - description: The cursor
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: The maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageOAuth2AuthorizedClient'
          description: Found
        '401':
          description: Authentication Failure
      security:
        - OAuth2: []
      summary: List
      tags:
        - OAuth2 Authorized Clients
    post:
      description: Create a OAuth2 Authorized Client
      operationId: createOAuth2AuthorizedClient
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuth2AuthorizedClientRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2AuthorizedClient'
          description: Found
        '401':
          description: Authentication Failure
      security:
        - OAuth2: []
      summary: Create
      tags:
        - OAuth2 Authorized Clients
  '/oauth2/authorized-clients/{id}':
    delete:
      description: Delete a OAuth2 Authorized Client given its client registration id
      operationId: deleteOAuth2AuthorizedClient
      parameters:
        - description: The Id
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Found
        '401':
          description: Authentication Failure
      security:
        - OAuth2: []
      summary: Delete
      tags:
        - OAuth2 Authorized Clients
    get:
      description: Get a OAuth2 Authorized Client given its client registration id
      operationId: getOAuth2AuthorizedClient
      parameters:
        - description: The Id
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2AuthorizedClient'
          description: Found
        '401':
          description: Authentication Failure
      security:
        - OAuth2: []
      summary: Get
      tags:
        - OAuth2 Authorized Clients
    put:
      description: Update a OAuth2 Authorized Client given its client registration id
      operationId: updateOAuth2AuthorizedClient
      parameters:
        - description: The Id
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuth2AuthorizedClientRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2AuthorizedClient'
          description: Found
        '401':
          description: Authentication Failure
      security:
        - OAuth2: []
      summary: Update
      tags:
        - OAuth2 Authorized Clients
  /platform-limit/consumptions/me:
    get:
      description: Get the Platform Consumption for the authenticated user.
      operationId: getMyPlatformConsumption
      parameters:
        - in: query
          name: applies_to
          required: true
          schema:
            type: string
        - in: query
          name: include_subscription
          required: false
          schema:
            type: boolean
        - in: query
          name: include_limit
          required: false
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageWithLimits'
          description: Found
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - ApiKey: []
        - OAuth2: []
      summary: Get the Platform Consumption
      tags:
        - Platform Consumptions
    put:
      description: Create or update the Platform Consumption for the authenticated user.
      operationId: createOrUpdateMyPlatformConsumption
      parameters:
        - in: query
          name: applies_to
          required: true
          schema:
            type: string
        - in: query
          name: consumption_to_add
          required: false
          schema:
            type: integer
            format: int32
            default: 1
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageWithLimits'
          description: Found
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - ApiKey: []
        - OAuth2: []
      summary: Create or update the Platform Consumption
      tags:
        - Platform Consumptions
  /platform-limit/limits:
    get:
      description: List the platform limits.
      operationId: listPlatformLimits
      parameters:
        - description: 'The type of based on, e.g. `sku`.'
          in: query
          name: based_on_in
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - SKU
            uniqueItems: true
        - description: The based on values.
          in: query
          name: based_on_value_in
          required: false
          schema:
            type: array
            items:
              type: string
            uniqueItems: true
        - description: The applies to (e.g. API name).
          in: query
          name: applies_to_in
          required: false
          schema:
            type: array
            items:
              type: string
            uniqueItems: true
        - description: The scope.
          in: query
          name: scope_in
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - ACCOUNT
                - SUBSCRIPTION
            uniqueItems: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagePlatformLimit'
          description: Found
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - BasicAuth: []
      summary: List Platform Limits
      tags:
        - Platform Limits
    post:
      description: Create a platform limit.
      operationId: createPlatformLimit
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlatformLimitRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformLimit'
          description: Found
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - BasicAuth: []
      summary: Create Platform Limit
      tags:
        - Platform Limits
  '/platform-limit/limits/{id}':
    delete:
      description: Delete a platform limit.
      operationId: deletePlatformLimit
      parameters:
        - description: Platform Limit id
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Found
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - BasicAuth: []
      summary: Delete Platform Limit
      tags:
        - Platform Limits
    get:
      description: Get a platform limit.
      operationId: getPlatformLimit
      parameters:
        - description: Platform Limit id
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformLimit'
          description: Found
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - BasicAuth: []
      summary: Get Platform Limit
      tags:
        - Platform Limits
    put:
      description: Update a platform limit.
      operationId: updatePlatformLimit
      parameters:
        - description: Platform Limit id
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PlatformLimitRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformLimit'
          description: Found
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - BasicAuth: []
      summary: Update Platform Limit
      tags:
        - Platform Limits
  /redeem-codes:
    post:
      operationId: redeemCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Request'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
          description: Found.
        '404':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
          description: Not Found.
        '409':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
          description: Code already redeemed.
        '500':
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/ProblemDetail'
          description: Configuration error.
      summary: Redeem the provided code and get a key
      tags:
        - Redeem Codes
  /sitemap-imports:
    post:
      description: Create a Sitemap Import
      operationId: createSitemapImport
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SitemapImportRequest'
        required: true
      responses:
        '200':
          content:
            application/x-ndjson:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebPage'
          description: Success
        '401':
          description: Authentication Failure
      security:
        - ApiKey: []
      summary: Create
      tags:
        - Sitemap Imports
  /validations:
    post:
      description: Check if the provided custom domain can be set for the account
      operationId: validate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainValidationRequest'
        required: true
      responses:
        '200':
          content:
            application/vnd.wordlift.custom-domain-validation+json;version-1: {}
          description: Success
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - OAuth2: []
      summary: Validate
      tags:
        - Custom Domains
  /vector-search/nodes-collection:
    put:
      operationId: updateNodesCollection
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: A list of node requests.
              items:
                $ref: '#/components/schemas/NodeRequest'
        required: true
      responses:
        '200':
          description: Found.
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - ApiKey: []
      summary: Update
      tags:
        - Vector Search Nodes
  /vector-search/queries:
    post:
      operationId: createQuery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VectorSearchQueryRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageVectorSearchQueryResponseItem'
          description: Found.
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - ApiKey: []
      summary: Create
      tags:
        - Vector Search Queries
  /vector-search/questions-collection:
    post:
      operationId: createVectorSearchQuestion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VectorSearchQuestionRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageVectorSearchQuestionResponseItem'
          description: Found.
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - ApiKey: []
      summary: Create
      tags:
        - Vector Search Questions
  /plugin/events:
    get:
      tags:
        - Plugin Events
      summary: List
      description: List the events bound to the authenticated account.
      operationId: listEvents
      parameters:
        - name: url
          in: query
          description: URLs to return
          required: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: date_greater_than
          in: query
          description: >-
            Event datetime filter to return events with date greater than the
            parameter
          required: false
          schema:
            type: string
            format: date-time
        - name: date_less_than
          in: query
          description: >-
            Event datetime filter to return events with date less than the
            parameter
          required: false
          schema:
            type: string
            format: date-time
        - name: cursor
          in: query
          description: The pagination cursor
          required: false
          schema:
            type: string
        - name: limit
          in: query
          description: The maximum number of results
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response1'
        '401':
          description: Authentication failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response1'
      security:
        - ApiKey: []
    post:
      tags:
        - Plugin Events
      summary: Create
      description: Create an event
      operationId: createEvent
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Request1'
        required: true
      responses:
        '200':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
        '401':
          description: Authentication failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Event'
      security:
        - ApiKey: []
  /summarize:
    post:
      tags:
        - Summarizations
      summary: Create
      operationId: microdataToJsonLdUsingPOST
      parameters:
        - name: max_length
          in: query
          description: Maximum text length
          schema:
            type: integer
            format: int32
            default: 500
        - name: min_length
          in: query
          description: Minimum text length
          schema:
            type: integer
            format: int32
            default: 25
        - name: ratio
          in: query
          description: Ratio
          schema:
            type: number
            format: float
            default: 0.2
      requestBody:
        description: body
        content:
          text/plain:
            schema:
              type: string
        required: true
      responses:
        '200':
          description: OK
          content:
            application/ld+json:
              schema:
                type: object
                additionalProperties:
                  type: string
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: body
      security:
        - ApiKey: []
  /classification/classify:
    post:
      tags:
        - Classifications
      summary: Create
      description: Classify the text to provided categories
      operationId: classifyUsingPost
      parameters:
        - name: lang
          in: query
          description: Language code
          schema:
            type: string
            default: en
        - name: multi_class
          in: query
          description: >-
            When set to true the scores will be independent, each will fall
            between 0 and 1
          schema:
            type: boolean
            default: false
      requestBody:
        description: body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClassificationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/ld+json:
              schema:
                $ref: '#/components/schemas/ClassificationResponse'
        '201':
          description: Created
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Not Found
          content: {}
      x-codegen-request-body-name: body
      security:
        - ApiKey: []
  /webasyncs:
    get:
      tags:
        - Web Asyncs metadata
      summary: List
      description: List all Web Async operations.
      operationId: list
      responses:
        '200':
          description: Found.
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WebAsync'
        '401':
          description: Authentication Failure
      security:
        - ApiKey: []
  '/webasyncs/{id}':
    get:
      tags:
        - Web Asyncs metadata
      summary: Get by id
      description: Get a Web Async operation by its id.
      operationId: get2
      parameters:
        - name: id
          in: path
          description: The Web Async id
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/WebAsync'
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - ApiKey: []
  '/webasyncs/{id}/pull':
    get:
      tags:
        - Web Asyncs responses
      summary: Get by id
      description: Get a Web Async response by id.
      operationId: get_1
      parameters:
        - name: id
          in: path
          description: The Web Async id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Found.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: byte
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - ApiKey: []
  /longtail:
    get:
      tags:
        - Long Tails
      summary: Get entities
      description: Query for long tail opportunities and receive entities.
      operationId: get_2
      parameters:
        - name: q
          in: query
          description: The Longtail query
          required: true
          schema:
            type: string
        - name: ln
          in: query
          description: 'A location name, origin of the search'
          required: true
          schema:
            type: string
          example: 'London,England,United Kingdom'
        - name: lc
          in: query
          description: Language Code
          required: true
          schema:
            type: string
          example: en
        - name: sd
          in: query
          description: Search Domain
          required: true
          schema:
            type: string
          example: 'google.co.uk, google.com.au, google.de, etc.'
        - name: sc
          in: query
          description: Analysis Scope
          required: false
          schema:
            type: string
            enum:
              - all
              - local
              - network
        - name: d
          in: query
          description: The maximum number of results to analyze
          required: false
          schema:
            type: string
            default: '10'
      responses:
        '200':
          description: Found.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LongtailResponse'
        '401':
          description: Authentication Failure
        '500':
          description: Server Error
      security:
        - ApiKey: []
  /longtail/v2:
    get:
      tags:
        - Long Tails
      summary: Get entities by rank
      description: >-
        Query for long tail opportunities and receive entities along with their
        position in SERP.
      operationId: getV2
      parameters:
        - name: q
          in: query
          description: The Longtail query
          required: true
          schema:
            type: string
        - name: ln
          in: query
          description: 'A location name, origin of the search'
          required: true
          schema:
            type: string
          example: 'London,England,United Kingdom'
        - name: lc
          in: query
          description: Language Code
          required: true
          schema:
            type: string
          example: en
        - name: sd
          in: query
          description: Search Domain
          required: true
          schema:
            type: string
          example: 'google.co.uk, google.com.au, google.de, etc.'
        - name: sc
          in: query
          description: Analysis Scope
          required: false
          schema:
            type: string
            enum:
              - all
              - local
              - network
        - name: d
          in: query
          description: The maximum number of results to analyze
          required: false
          schema:
            type: string
            default: '10'
      responses:
        '200':
          description: Found.
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RankEntities'
        '401':
          description: Authentication Failure
        '500':
          description: Server Error
      security:
        - ApiKey: []
  /longtail/hook:
    get:
      tags:
        - Long Tails
      summary: Get entities by rank (async)
      description: >-
        Query for long tail opportunities and receive entities along with their
        position in SERP.
      operationId: get_3
      parameters:
        - name: q
          in: query
          description: The Longtail query
          required: true
          schema:
            type: string
        - name: ln
          in: query
          description: 'A location name, origin of the search'
          required: true
          schema:
            type: string
          example: 'London,England,United Kingdom'
        - name: lc
          in: query
          description: Language Code
          required: true
          schema:
            type: string
          example: en
        - name: sd
          in: query
          description: Search Domain
          required: true
          schema:
            type: string
          example: 'google.co.uk, google.com.au, google.de, etc.'
        - name: sc
          in: query
          description: Analysis Scope
          required: false
          schema:
            type: string
            enum:
              - all
              - local
              - network
        - name: hk
          in: query
          description: Webhook URL
          required: true
          schema:
            type: string
        - name: d
          in: query
          description: The maximum number of results to analyze
          required: false
          schema:
            type: string
            default: '10'
      responses:
        '200':
          description: Found.
        '401':
          description: Authentication Failure
        '500':
          description: Server Error
      security:
        - ApiKey: []
  /api/embeddings:
    post:
      responses: {}
      tags:
        - Embeddings
      operationId: create_embeddings
      summary: Create Embeddings
      description: Create Embeddings
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmbeddingsInput'
        required: true
  /completions:
    post:
      description: >-
        [GET with body
        payload](https://opensource.zalando.com/restful-api-guidelines/#get-with-body)
        - no resources created
      operationId: createCompletion
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompletionRequest'
        required: true
      responses:
        '200':
          content:
            text/plain:
              schema:
                type: string
          description: Found.
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Create a completion
      tags:
        - Content Generation Completion
  /content-generations:
    get:
      operationId: listContentGenerations
      parameters:
        - description: The cursor
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: The maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 10
        - description: Filter for the deleted flag
          in: query
          name: deleted
          required: false
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageContentGeneration'
          description: Found.
        '401':
          description: Authentication Failure
      security:
        - security_oauth2: []
      summary: List
      tags:
        - Content Generations
    post:
      operationId: createContentGeneration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentGenerationRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentGeneration'
          description: Created
        '401':
          description: Authentication Failure
      security:
        - security_oauth2: []
      summary: Create
      tags:
        - Content Generations
  /content-generations/renders:
    post:
      description: >-
        [GET with body
        payload](https://opensource.zalando.com/restful-api-guidelines/#get-with-body)
        - no resources created
      operationId: renderTemplate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenderRequest'
        required: true
      responses:
        '200':
          content:
            text/plain:
              schema:
                type: string
          description: Found.
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Render
      tags:
        - Content Generation Renders
  /content-generations/renders-collection:
    post:
      description: >-
        [GET with body
        payload](https://opensource.zalando.com/restful-api-guidelines/#get-with-body)
        - no resources created
      operationId: renderTemplateCollection
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/RenderRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
          description: Found.
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Render
      tags:
        - Content Generation Renders
  '/content-generations/{contentGenerationId}/fields':
    get:
      operationId: listFields
      parameters:
        - description: The cursor
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: The maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 10
        - description: The Content Generation id.
          in: path
          name: contentGenerationId
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageField'
          description: Found.
        '401':
          description: Authentication Failure
      security:
        - security_oauth2: []
      summary: List
      tags:
        - Content Generation Fields
  '/content-generations/{contentGenerationId}/records':
    get:
      operationId: listRecords
      parameters:
        - description: The Content Generation id.
          in: path
          name: contentGenerationId
          required: true
          schema:
            type: integer
            format: int64
        - description: The cursor
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: The maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 10
        - description: Search query
          in: query
          name: q
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageRecord'
          description: Found.
        '401':
          description: Authentication Failure
      security:
        - security_oauth2: []
      summary: List
      tags:
        - Content Generation Records
    put:
      operationId: updateRecords
      parameters:
        - description: The Content Generation id.
          in: path
          name: contentGenerationId
          required: true
          schema:
            type: integer
            format: int64
        - description: Completion accepted
          in: query
          name: is_accepted
          required: true
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRecordsRequest'
        required: true
      responses:
        '200':
          description: Found.
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Update
      tags:
        - Content Generation Records
  '/content-generations/{contentGenerationId}/records-collection':
    put:
      operationId: updateRecordsCollection
      parameters:
        - description: The Content Generation id.
          in: path
          name: contentGenerationId
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateRecordRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Record'
          description: Found.
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Update
      tags:
        - Content Generation Records
  '/content-generations/{contentGenerationId}/records-sse':
    get:
      operationId: listRecordsAsEvents
      parameters:
        - description: The Content Generation id.
          in: path
          name: contentGenerationId
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Found.
        '401':
          description: Authentication Failure
      security:
        - security_oauth2: []
      summary: List as Events
      tags:
        - Content Generation Records
  '/content-generations/{contentGenerationId}/records.tsv':
    get:
      operationId: export
      parameters:
        - description: The Content Generation id.
          in: path
          name: contentGenerationId
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          content:
            text/tsv:
              schema:
                type: array
                items:
                  type: string
          description: OK
      security:
        - security_oauth2: []
      tags:
        - Content Generation Records Export
  '/content-generations/{contentGenerationId}/records/{recordId}':
    get:
      operationId: getRecord
      parameters:
        - description: The Content Generation id.
          in: path
          name: contentGenerationId
          required: true
          schema:
            type: integer
            format: int64
        - description: The Record id.
          in: path
          name: recordId
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'
          description: Found.
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Get
      tags:
        - Content Generation Records
    put:
      operationId: updateRecord
      parameters:
        - description: The Content Generation id.
          in: path
          name: contentGenerationId
          required: true
          schema:
            type: integer
            format: int64
        - description: The Record id.
          in: path
          name: recordId
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Request2'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Record'
          description: Found.
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Update
      tags:
        - Content Generation Records
  '/content-generations/{contentGenerationId}/stats':
    get:
      operationId: get3
      parameters:
        - description: The Content Generation id.
          in: path
          name: contentGenerationId
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentGenerationStats'
          description: Found.
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Get
      tags:
        - Content Generation Stats
  '/content-generations/{contentGenerationId}/syncs':
    post:
      operationId: createSync1
      parameters:
        - description: The Content Generation id.
          in: path
          name: contentGenerationId
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Found.
        '401':
          description: Authentication Failure
      security:
        - security_oauth2: []
      summary: Create
      tags:
        - Content Generation Syncs
  '/content-generations/{contentGenerationId}/words':
    get:
      operationId: listWords
      parameters:
        - description: The Content Generation id.
          in: path
          name: contentGenerationId
          required: true
          schema:
            type: integer
            format: int64
        - in: query
          name: The cursor.
          required: false
          schema:
            type: string
        - in: query
          name: The maximum number of results.
          required: false
          schema:
            type: integer
            format: int32
            default: 10
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageWord'
          description: Found.
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: List
      tags:
        - Content Generation Word biases
    post:
      operationId: createWord
      parameters:
        - description: The Content Generation id.
          in: path
          name: contentGenerationId
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WordRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Word'
          description: Created
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Create
      tags:
        - Content Generation Word biases
    put:
      description: >-
        Send a list of word biases for this prompt. Existing words will be
        deleted.
      operationId: createWords
      parameters:
        - description: The Content Generation id.
          in: path
          name: contentGenerationId
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/WordRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Word'
          description: Created
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Update for prompt
      tags:
        - Content Generation Word biases
  '/content-generations/{contentGenerationId}/words/imports':
    put:
      operationId: createWordsFromCSV
      parameters:
        - in: header
          name: content-type
          required: false
          schema:
            type: string
        - description: The Content Generation id.
          in: path
          name: contentGenerationId
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          text/csv:
            schema:
              type: string
        required: true
      responses:
        '204':
          description: No Content
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Update from CSV
      tags:
        - Content Generation Word biases
  '/content-generations/{contentGenerationId}/words/{id}':
    delete:
      operationId: deleteWord
      parameters:
        - description: The Content Generation id.
          in: path
          name: contentGenerationId
          required: true
          schema:
            type: integer
            format: int64
        - description: The Word to delete.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Created
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Delete
      tags:
        - Content Generation Word biases
    put:
      operationId: updateWord
      parameters:
        - description: The Content Generation id.
          in: path
          name: contentGenerationId
          required: true
          schema:
            type: integer
            format: int64
        - description: The Word bias to update.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WordRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Word'
          description: Updated
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Update
      tags:
        - Content Generation Word biases
  '/content-generations/{from_content_generation_id}/duplicates':
    post:
      operationId: duplicateContentGeneration
      parameters:
        - description: The Content Generation id to duplicate from.
          in: path
          name: from_content_generation_id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentGeneration'
          description: Created
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Duplicate
      tags:
        - Content Generations
  '/content-generations/{id}':
    delete:
      operationId: deleteContentGeneration
      parameters:
        - description: The Content Generation id.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Deleted
        '401':
          description: Authentication Failure
      security:
        - security_oauth2: []
      summary: Delete
      tags:
        - Content Generations
    get:
      operationId: getContentGeneration
      parameters:
        - description: The Content Generation id.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentGeneration'
          description: Found.
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Get
      tags:
        - Content Generations
    put:
      operationId: updateContentGeneration
      parameters:
        - description: The Content Generation id.
          in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ContentGenerationRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentGeneration'
          description: Update
        '401':
          description: Authentication Failure
      security:
        - security_oauth2: []
      summary: Update
      tags:
        - Content Generations
  /fields:
    post:
      operationId: listFieldsForGraphQlQuery
      requestBody:
        content:
          application/graphql:
            schema:
              type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Field'
          description: Found.
        '401':
          description: Authentication Failure
      security:
        - security_oauth2: []
      summary: List for GraphQl Query
      tags:
        - Content Generation Fields
  /graphql-query-presets:
    get:
      operationId: listPresets
      parameters:
        - description: The cursor
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: The maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagePreset'
          description: Found.
        '401':
          description: Authentication Failure
      security:
        - security_oauth2: []
      summary: List
      tags:
        - Content Generation Presets
  /models:
    get:
      operationId: listModels
      parameters:
        - description: The cursor
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: The maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
            default: 10
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PageModel'
          description: Found.
        '401':
          description: Authentication Failure
      summary: List
      tags:
        - Content Generation Models
  /questions-and-answers:
    get:
      operationId: getQuestionsAndAnswers
      parameters:
        - description: The account id.
          in: query
          name: account_id
          required: false
          schema:
            type: integer
            format: int64
        - description: The webpage IRI
          in: query
          name: iri
          required: false
          schema:
            type: string
        - description: The smart content id.
          in: query
          name: smart_content_id
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuestionAndAnswer'
          description: Found.
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Get
      tags:
        - QuestionsAndAnswers
    post:
      operationId: createQuestionAndAnswer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionAndAnswerRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionAndAnswer'
          description: Created
        '401':
          description: Authentication Failure
      security:
        - security_oauth2: []
      summary: Create
      tags:
        - QuestionsAndAnswers
  /questions-and-answers-collection:
    delete:
      operationId: deleteQuestionsAndAnswersCollection
      parameters:
        - in: query
          name: smart_content_id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
        '401':
          description: Authentication Failure
      security:
        - security_oauth2: []
      summary: Delete
      tags:
        - QuestionsAndAnswers
    post:
      operationId: createQuestionsAndAnswersCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SmartContentRequest'
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmartContent'
          description: Created
        '401':
          description: Authentication Failure
      security:
        - security_oauth2: []
      summary: Create
      tags:
        - QuestionsAndAnswers
    put:
      operationId: updateQuestionsAndAnswersCollection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionAndAnswerRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuestionAndAnswer'
          description: Found.
        '401':
          description: Authentication Failure
      security:
        - security_oauth2: []
      summary: Update
      tags:
        - QuestionsAndAnswers
  '/questions-and-answers/{id}':
    delete:
      operationId: deleteQuestionAndAnswer
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: Found.
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Delete
      tags:
        - QuestionsAndAnswers
    put:
      operationId: updateQuestionAndAnswer
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
            format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQuestionAndAnswerRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionAndAnswer'
          description: Found.
        '401':
          description: Authentication Failure
        '404':
          description: Not Found
      security:
        - security_oauth2: []
      summary: Update
      tags:
        - QuestionsAndAnswers
  /rules:
    get:
      operationId: listRules
      parameters:
        - description: The cursor
          in: query
          name: cursor
          required: false
          schema:
            type: string
        - description: The maximum number of results
          in: query
          name: limit
          required: false
          schema:
            type: integer
[...]
